.c-button {
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
    background-color: #000000;
    width: 160px;
    height: 36px;
    line-height: 36px;
    transition: .3s;
    &:hover {
        opacity: .7;
        transition: .3s;
    }
    a {
        font-size: 1.1rem;
        color: #ffffff;
        letter-spacing: 0.015em;
        text-align: center;
        text-decoration: none;
    }
}

.c-must {
    display: inline-block;
    width: 34px;
    height: 18px;
    color: #ffffff;
    background-color: #333333;
    text-align: center;
    line-height: 18px;
    font-size: 1.2rem;
    margin-left: 8px;
    font-weight: normal;
}